In [1]:
import numpy as np
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df=pd.read_csv('C:/Users/User/Desktop/디지털하나로/CardData_new.csv',encoding='cp949')
df

,회원번호,남녀구분코드,연령,소지여부_신용,입회일자_신용,입회경과개월수_신용,탈회여부,회원여부_연체,수신거부여부_TM,수신거부여부_DM,...,캠페인접촉건수_R12M,캠페인접촉일수_R12M,캠페인접촉월수_R12M,접촉후경과월_R12M,보험콜대상월수_R12M,보험콜대상횟수_R12M,보험콜통화횟수_R12M,보험콜배정후경과월_R12M,보험콜통화후경과월_R12M,고객구분
0,YNtSN9Oa,2,64,1,20140709,54,1,0,0,0,...,3,3,2,5,5,5,9,0,0,21.Active_연속
1,Rijqdlzu,1,24,1,20170412,21,0,0,0,0,...,0,0,0,12,5,5,14,2,2,21.Active_연속
2,NOsf3TZS,2,43,1,20170426,21,1,0,1,0,...,0,0,0,12,0,0,0,12,12,21.Active_연속
3,7IPZGTZu,2,79,1,20141128,50,0,0,0,0,...,16,15,5,1,3,3,6,0,0,21.Active_연속
4,pEEsUF2u,2,82,1,20120905,76,0,0,0,0,...,4,4,3,1,1,1,4,3,2,21.Active_연속
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
299995,Gso9Jlid,2,47,1,20170630,18,0,0,0,0,...,3,3,2,9,5,5,16,0,0,21.Active_연속
299996,EDQYlTTX,2,69,1,20150417,45,0,0,0,0,...,2,2,2,1,0,0,0,12,12,22.Active_간헐
299997,82GwFS1D,1,36,1,20120608,79,0,0,0,0,...,0,0,0,12,0,0,0,12,12,21.Active_연속
299998,LUYeNjki,1,48,1,20120508,80,1,0,0,0,...,0,0,0,12,0,0,0,12,12,21.Active_연속
299999,bnKXePYO,2,36,1,20180222,11,1,0,0,0,...,20,20,5,0,1,1,0,6,12,21.Active_연속

In [6]:
df.groupby('Life_Stage').mean()

C:\Users\User\AppData\Local\Temp\ipykernel_3056\2646430207.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby('Life_Stage').mean()

,남녀구분코드,연령,소지여부_신용,입회일자_신용,입회경과개월수_신용,탈회여부,회원여부_연체,수신거부여부_TM,수신거부여부_DM,수신거부여부_메일,...,컨택건수_FDS_R6M,캠페인접촉건수_R12M,캠페인접촉일수_R12M,캠페인접촉월수_R12M,접촉후경과월_R12M,보험콜대상월수_R12M,보험콜대상횟수_R12M,보험콜통화횟수_R12M,보험콜배정후경과월_R12M,보험콜통화후경과월_R12M
Life_Stage,,,,,,,,,,,,,,,,,,,,,
1.Single,1.473480,46.277952,0.954537,2.016627e+07,24.238588,0.113380,0.025966,0.355202,0.284513,0.284051,...,0.013583,3.743393,3.525226,2.121050,6.509056,0.162909,0.163094,0.335705,10.617908,10.649048
2.가족형성기,1.472626,46.126244,0.959712,2.015098e+07,42.358656,0.224408,0.015705,0.458636,0.385459,0.382365,...,0.014124,2.885089,2.710990,1.633945,7.636535,0.309591,0.309927,0.632432,9.899179,9.955139
3.자녀출산기,1.469358,46.201023,0.973512,2.013406e+07,62.566709,0.369107,0.013521,0.468380,0.395432,0.395204,...,0.009383,2.893233,2.704069,1.593947,7.695110,0.424201,0.424494,0.891050,10.021927,10.066562
4.자녀성장기(1),1.473296,46.177148,0.982705,2.011650e+07,83.609490,0.490904,0.012172,0.418445,0.355405,0.356515,...,0.007997,3.414986,3.166599,1.759359,7.265994,1.037061,1.037384,2.307806,8.435155,8.472923
5.자녀성장기(2),1.473625,46.245287,0.985581,2.010396e+07,98.282279,0.457680,0.012157,0.338189,0.287701,0.296993,...,0.006172,4.205055,3.853706,2.061265,6.534167,1.691533,1.693167,4.117951,6.778316,6.823448
6.자녀출가기,1.478257,46.261187,0.986280,2.009777e+07,106.057363,0.393258,0.012222,0.301281,0.257047,0.268086,...,0.004218,4.420106,4.049359,2.093436,6.449359,1.875182,1.888232,4.450384,6.435285,6.503844
7.노령,1.475586,46.277292,0.985270,2.008942e+07,116.137884,0.334789,0.010666,0.260937,0.236455,0.244650,...,0.004741,2.387038,2.209772,0.969592,9.182243,1.289076,1.297609,3.103379,8.349824,8.388663

남녀 평균이랑 연령 평균 일정한거 보니 life_stage 걍 믹스한 것 같다는 의심이..듭니다...

In [16]:
np.where((df['이용금액_업종기준']==df['이용금액_쇼핑'] + df['이용금액_요식'] + df['이용금액_교통']+  df['이용금액_의료']+
df['이용금액_납부'] + df['이용금액_교육'] + df['이용금액_여유생활'] +df['이용금액_사교활동']+df['이용금액_일상생활'] +df['이용금액_해외'])==False)

(array([     6,     10,     21, ..., 299988, 299989, 299993], dtype=int64),)

이용금액_업종기준이 이용금액쇼핑~해외 다 합친 금액인줄 알았는데 그건 아닌가봄.. 거의 다 일치하지만 60,000건 정도 불일치함
혜택수혜금액이나 할인금액에서 빠졌는지 살펴봤는데 것두 아니었음

In [21]:
a=df[df['이용금액_업종기준']==df['이용금액_쇼핑'] + df['이용금액_요식'] + df['이용금액_교통']+  df['이용금액_의료']+
df['이용금액_납부'] + df['이용금액_교육'] + df['이용금액_여유생활'] +df['이용금액_사교활동']+df['이용금액_일상생활'] +df['이용금액_해외']]

In [22]:
a.head(30)

,회원번호,남녀구분코드,연령,소지여부_신용,입회일자_신용,입회경과개월수_신용,탈회여부,회원여부_연체,수신거부여부_TM,수신거부여부_DM,...,캠페인접촉건수_R12M,캠페인접촉일수_R12M,캠페인접촉월수_R12M,접촉후경과월_R12M,보험콜대상월수_R12M,보험콜대상횟수_R12M,보험콜통화횟수_R12M,보험콜배정후경과월_R12M,보험콜통화후경과월_R12M,고객구분
0,YNtSN9Oa,2,64,1,20140709,54,1,0,0,0,...,3,3,2,5,5,5,9,0,0,21.Active_연속
1,Rijqdlzu,1,24,1,20170412,21,0,0,0,0,...,0,0,0,12,5,5,14,2,2,21.Active_연속
2,NOsf3TZS,2,43,1,20170426,21,1,0,1,0,...,0,0,0,12,0,0,0,12,12,21.Active_연속
3,7IPZGTZu,2,79,1,20141128,50,0,0,0,0,...,16,15,5,1,3,3,6,0,0,21.Active_연속
4,pEEsUF2u,2,82,1,20120905,76,0,0,0,0,...,4,4,3,1,1,1,4,3,2,21.Active_연속
5,mrILBIsf,1,38,1,20180201,11,0,0,0,0,...,9,7,7,0,4,4,3,0,0,21.Active_연속
7,G5RWJoOf,1,26,1,20170504,20,0,0,0,0,...,0,0,0,12,0,0,0,12,12,21.Active_연속
8,9QifHQRq,2,38,1,20120822,77,0,0,0,0,...,1,1,1,1,0,0,0,12,12,34.휴면_9M+
9,OdlqFy2F,2,42,1,20100816,101,0,0,0,0,...,0,0,0,12,0,0,0,12,12,21.Active_연속
11,PjmGznTm,1,45,1,19950524,284,0,0,1,1,...,0,0,0,12,0,0,0,12,12,21.Active_연속
12,KPkvpnyj,2,28,1,20090623,115,0,0,0,1,...,14,14,9,0,1,1,1,3,3,21.Active_연속
13,hJuUv1Wg,2,42,1,20060601,151,0,0,0,0,...,1,1,1,5,4,4,15,1,0,21.Active_연속
14,IxIAzGdU,1,54,1,20130717,66,1,0,0,0,...,2,2,1,4,2,2,3,1,1,21.Active_연속
15,RM6mSMbs,1,47,1,20130124,72,0,0,1,1,...,0,0,0,12,0,0,0,12,12,34.휴면_9M+
16,Os3UUS88,1,80,1,20171128,14,0,0,0,0,...,0,0,0,12,0,0,0,12,12,21.Active_연속
17,RbyiT53l,2,32,1,20180514,8,1,0,1,0,...,10,10,6,0,2,2,2,1,1,21.Active_연속
18,Yu0oqOMi,2,46,0,20151119,38,0,0,1,1,...,1,1,1,6,0,0,0,12,12,31.휴면_3M
19,LDhsZIdO,2,54,0,20140218,59,0,0,1,1,...,0,0,0,12,0,0,0,12,12,34.휴면_9M+
20,Cr9MNwh4,1,45,1,20141210,49,1,0,0,0,...,0,0,0,12,0,0,0,12,12,34.휴면_9M+
22,38tCEqm5,2,45,1,20120822,77,0,0,0,0,...,0,0,0,12,0,0,0,12,12,21.Active_연속
23,StPMscHA,1,54,1,20080310,130,0,0,0,0,...,11,11,6,3,0,0,0,12,12,21.Active_연속
25,CRX23tPQ,1,34,1,20170921,16,1,0,0,0,...,1,1,1,6,2,2,3,5,5,21.Active_연속
26,rTGKwyLF,2,27,1,20121016,75,0,0,0,0,...,0,0,0,12,0,0,0,12,12,21.Active_연속
27,jlTpRmd7,1,22,1,20180330,10,0,0,0,0,...,5,5,4,0,2,2,7,1,1,21.Active_연속
28,ETWu0tro,1,45,1,20150817,41,0,0,1,1,...,0,0,0,12,0,0,0,12,12,33.휴면_9M-
29,2fsUR2XG,1,51,1,20120110,84,0,0,1,1,...,0,0,0,12,0,0,0,12,12,22.Active_간헐
30,MFrzYvgD,1,43,1,20040408,177,0,0,1,1,...,0,0,0,12,0,0,0,12,12,21.Active_연속
31,OvevYQ6x,2,34,1,20130328,70,1,0,1,1,...,0,0,0,12,0,0,0,12,12,22.Active_간헐
32,jj7Azrdt,2,51,1,20100603,103,1,0,0,0,...,8,8,5,0,2,2,2,3,3,21.Active_연속
33,8ZIcQLtP,1,50,1,20060508,152,0,0,0,0,...,7,7,5,0,2,2,4,1,1,22.Active_간헐

# 생애주기 별 소비금액

In [23]:
df1=df[['Life_Stage','이용금액_업종기준','이용금액_쇼핑'  ,'이용금액_요식', '이용금액_교통',  '이용금액_의료',  
'이용금액_납부' , '이용금액_교육' , '이용금액_여유생활' ,'이용금액_사교활동', '이용금액_일상생활' ,'이용금액_해외']]

In [25]:
g=df1.groupby('Life_Stage').mean()
g

,이용금액_업종기준,이용금액_쇼핑,이용금액_요식,이용금액_교통,이용금액_의료,이용금액_납부,이용금액_교육,이용금액_여유생활,이용금액_사교활동,이용금액_일상생활,이용금액_해외
Life_Stage,,,,,,,,,,,
1.Single,1.477940e+06,584823.147015,25049.199686,147497.717797,62581.394105,158967.639161,14831.683238,78501.795786,274808.083996,17172.460728,66068.863334
2.가족형성기,1.845896e+06,738223.892790,30104.945285,174445.046846,93148.492602,216463.517655,22715.007533,89959.946731,265251.405300,20239.134483,105766.536757
3.자녀출산기,2.099892e+06,818921.456163,30044.905516,186237.883328,128052.122210,273902.779070,65303.517805,99913.515460,263175.142247,21099.459290,108272.867690
4.자녀성장기(1),2.018518e+06,751278.957160,25160.238362,175325.467900,149296.136365,263373.488604,133636.934520,100539.341206,248541.859278,19956.691519,74449.276412
5.자녀성장기(2),1.749165e+06,608762.291718,18560.903671,173537.491472,175145.077880,241540.728739,62731.813193,106027.326514,220285.849301,18403.518811,61194.748822
6.자녀출가기,1.400800e+06,517589.144569,13299.622748,146603.526119,157658.977883,174101.842618,11184.064183,94377.371536,169310.288271,14472.392746,45336.861226
7.노령,1.241126e+06,471089.009820,11000.779223,102300.606156,191129.652106,122531.473249,12196.489977,77639.948564,150717.728667,12182.525870,41387.840512

소비패턴에 따라 lige stage를 정의했다는 용재오빠 말이 맞을지도..! 

근거1. 노령군이 의료쪽에 소비가 젤 높음

근거2. life_stage 단계 올라갈수록 사교활동 소비 줄어들음

대체적으로 쇼핑에서 가장 많은 소비를 하고 있어서 분야별 이용금액/이용 총 금액 해서 어디에 소비를 많이 하는지 봐야할 것 같은데 자꾸 에러가 나서 이건 오늘중으로 해결해보겠습니당

In [ ]:
df1['요식/전체소비']=df1['이용금액_요식']/df1['이용금액_업종기준']
df1['교통/전체소비']=df1['이용금액_교통']/df1['이용금액_업종기준']
df1['의료/전체소비']=df1['이용금액_의료']/df1['이용금액_업종기준']

# 생애주기별 회원기본정보

In [30]:
df2=df[['Life_Stage','탈회여부','소지여부_신용', '입회일자_신용', '입회경과개월수_신용', '회원여부_연체',
        'BL여부_R12M','탈회횟수_누적','탈회횟수_발급1년이내','유효카드수_신용체크', '유효카드수_신용', '유효카드수_체크']]

In [31]:
g2=df2.groupby('Life_Stage').mean()
g2

,탈회여부,소지여부_신용,입회일자_신용,입회경과개월수_신용,회원여부_연체,BL여부_R12M,탈회횟수_누적,탈회횟수_발급1년이내,유효카드수_신용체크,유효카드수_신용,유효카드수_체크
Life_Stage,,,,,,,,,,,
1.Single,0.113380,0.954537,2.016627e+07,24.238588,0.025966,0.021345,0.121235,0.009887,2.545648,1.390686,1.154962
2.가족형성기,0.224408,0.959712,2.015098e+07,42.358656,0.015705,0.013721,0.256827,0.040221,2.562550,1.566250,0.996301
3.자녀출산기,0.369107,0.973512,2.013406e+07,62.566709,0.013521,0.013912,0.459812,0.087870,2.468022,1.685824,0.782198
4.자녀성장기(1),0.490904,0.982705,2.011650e+07,83.609490,0.012172,0.014754,0.637636,0.096208,2.246783,1.635579,0.611204
5.자녀성장기(2),0.457680,0.985581,2.010396e+07,98.282279,0.012157,0.015196,0.589688,0.071520,2.039241,1.516012,0.523229
6.자녀출가기,0.393258,0.986280,2.009777e+07,106.057363,0.012222,0.013089,0.500177,0.069702,1.861739,1.422157,0.439582
7.노령,0.334789,0.985270,2.008942e+07,116.137884,0.010666,0.008228,0.417005,0.054517,1.716206,1.332114,0.384092

# 범주형 변수들

In [29]:
g3 = df.groupby(['고객구분', 'Life_Stage']).size().unstack()
g3

Life_Stage,1.Single,2.가족형성기,3.자녀출산기,4.자녀성장기(1),5.자녀성장기(2),6.자녀출가기,7.노령
고객구분,,,,,,,
21.Active_연속,7588,21821,23320,75625,55869,18548,20092
22.Active_간헐,1109,2730,2593,8516,7447,2809,3831
31.휴면_3M,177,507,459,1295,1127,404,570
32.휴면_6M-,419,965,867,2632,2055,831,1182
33.휴면_9M-,386,830,753,2207,1820,658,984
34.휴면_9M+,1143,2883,2701,8885,6374,2115,2873

In [33]:
g4 = df.groupby(['자격기준', 'Life_Stage']).size().unstack()
g4

Life_Stage  1.Single  2.가족형성기  3.자녀출산기  4.자녀성장기(1)  5.자녀성장기(2)  6.자녀출가기   7.노령
자격기준
01.공무원           532     1782     1891        6163        4308      927    480
02.교육기관          254     1123     1255        4471        2886      826    495
03.금융기관          161      718      948        2726        1324      257    165
04.의료기관          550     1826     1398        3657        1939      440    405
05.언론기관            3       54      100         251         194       58     46
06.기업체          3371    11016    11605       29818       16794     4275   2959
07.소기업           131      185      194        1244        1829     1023   1678
08.은행거래         3098     6912     6303       21510       19575     8258  12934
09.전문직            95      353      248         725         291       39     34
10.배우자             1       75      388        3211        2087      694    785
11.자영업자         1594     3003     3933       19466       19397     7275   7894
12.체크전환          718     1886     1513        2881        1912      609    647
99.기타            314      803      917        3037        2156      684   1010

In [37]:
g5 = df.groupby(['이용금액대', 'Life_Stage']).size().unstack()
g5

Life_Stage  1.Single  2.가족형성기  3.자녀출산기  4.자녀성장기(1)  5.자녀성장기(2)  6.자녀출가기  7.노령
이용금액대
01.100만원+       1886     6165     7268       23237       14924     4014  3973
02.50만원+        2141     5898     5925       18516       13267     4045  4424
03.30만원+        1364     3790     4038       13531       10022     3201  3721
04.10만원+        1265     3160     3160       10953        9571     3758  5111
05.10만원-        2022     5497     5473       17782       15434     6313  6671
09.미사용          2144     5226     4829       15141       11474     4034  5632

# 생애주기별 기간별 신용카드 금액

In [47]:
df3=df[['Life_Stage','이용후경과월_신용','이용건수_신용_B0M','이용건수_신용_R3M','이용건수_신용_R6M','이용건수_신용_R12M' ,
        '이용금액_신용_B0M' , '이용금액_신용_R3M', '이용금액_신용_R6M','이용금액_신용_R12M' ,'이용개월수_신용_R3M' ,
        '이용개월수_신용_R6M' , '이용개월수_신용_R12M'
]]

In [49]:
g3=df3.groupby('Life_Stage').mean()
g3 = g3.round(2)
g3

,이용후경과월_신용,이용건수_신용_B0M,이용건수_신용_R3M,이용건수_신용_R6M,이용건수_신용_R12M,이용금액_신용_B0M,이용금액_신용_R3M,이용금액_신용_R6M,이용금액_신용_R12M,이용개월수_신용_R3M,이용개월수_신용_R6M,이용개월수_신용_R12M
Life_Stage,,,,,,,,,,,,
1.Single,1.90,23.62,71.80,145.29,276.80,514709.54,1540111.35,3085226.50,5952020.27,2.26,4.57,8.79
2.가족형성기,1.67,22.79,69.61,142.07,278.81,622919.36,1847829.36,3757026.05,7418412.73,2.34,4.73,9.34
3.자녀출산기,1.50,22.18,67.26,136.89,268.71,701327.85,2108591.23,4196659.21,8309923.93,2.41,4.86,9.62
4.자녀성장기(1),1.48,19.28,58.11,118.00,230.28,718520.01,2137632.20,4282009.83,8519400.74,2.42,4.86,9.64
5.자녀성장기(2),1.46,16.26,49.31,99.86,195.26,647955.79,1958994.51,3921558.14,7834403.43,2.40,4.82,9.52
6.자녀출가기,1.49,13.39,40.65,82.48,162.91,517132.39,1585233.78,3203235.21,6458203.82,2.37,4.74,9.35
7.노령,1.78,10.86,33.48,68.17,133.94,463976.54,1402386.56,2847845.93,5695218.03,2.24,4.51,8.98